body{
  background-color: #f1f1f1;
}

.section {
  height: 450px;
  padding-top: 0px;
  padding-bottom:50px;
  margin-top: 50px;
  border-bottom: 1px solid rgb(116, 116, 116);
  /*border-bottom: 2px solid #393939;*/
}

.section.bg-about{
  height: 220px;
  height: 0px;
  margin-top: 10px;
  background: none;
  border-bottom: none;
}

.bg-home {
  background: url('/assets/grad_cover_opt.jpg') no-repeat left 50px fixed;
  color: #fff;
  background-size: cover;
}

.bg-about{
  background: url('/assets/berlin_cover_bw_2.jpg') no-repeat center -400px fixed;
  color: #fff;
  background-size: cover;
}

#jumbo-tron-gradient{
  height: 35px;
  margin-top: -10px;
  background: -moz-linear-gradient(top,  rgba(57,57,57,0.41) 0%, rgba(255,255,255,0.07) 84%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(57,57,57,0.41)), color-stop(84%,rgba(255,255,255,0.07)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(57,57,57,0.41) 0%,rgba(255,255,255,0.07) 84%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(57,57,57,0.41) 0%,rgba(255,255,255,0.07) 84%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(57,57,57,0.41) 0%,rgba(255,255,255,0.07) 84%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(57,57,57,0.41) 0%,rgba(255,255,255,0.07) 84%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69393939', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

#content-gradient{
  height: 25px;
  background: -moz-linear-gradient(top,  rgba(173,173,173,0.41) 0%, rgba(255,255,255,0.07) 84%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,173,173,0.41)), color-stop(84%,rgba(255,255,255,0.07)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(173,173,173,0.41) 0%,rgba(255,255,255,0.07) 84%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(173,173,173,0.41) 0%,rgba(255,255,255,0.07) 84%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(173,173,173,0.41) 0%,rgba(255,255,255,0.07) 84%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(173,173,173,0.41) 0%,rgba(255,255,255,0.07) 84%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69adadad', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}


#homepage-features{
  h3{
    margin-top: 5px;
    margin-bottom: 8px;
  }
  #featured-projects{
    #view-more{
      margin-top: 4px;
    }
    .row{
      //border-right: 1px solid #CBCBCB;
      img{
        width: 100%;
      }
      .img-top-caption{
        padding: 5px 10px;
        border-bottom: 1px solid #bebebe;
        font-family: open sans, sans-serif;
        font-weight: 500;
        font-size: 15px;
      }
    }
  }
}

#profile_pic_col{

  /*position: relative;
  top: -90px;*/

  #profile_pic{
    img{
      width: 100%;
      box-shadow: 0px 0px 6px rgba(96, 96, 96, 0.12);
    }
  }
}

#about-me-holder{
  h2.header{
    font-family: Raleway, sans-serif;
    font-size: 26px;
    margin-top: 5px;
  }
  h4.description{
    font-family: open sans, sans-serif;
    font-size: 16px;
    line-height: 24px;
  }
}

.card_holder{
  ul{
    display: flex;
    margin: 40px 0;
  }
  .card_pic{
    width: 100px;
    text-align: center;
    vertical-align: middle;
    padding-left: 10px; 
    img{
      width: 45px;
      margin-top: 5px;
    }
  }
  h3.card_header{
    font-size: 23px;
    margin-bottom: 6px;
    margin-top: 0px;
  }
  h4.description{
    margin-bottom: 0px;
    margin-top: 0;
  }
}

#about-links{

  margin: 10px 0 0 0px;
  font-size: 14px;

  li{
    text-align:center;
    padding: 3px;
    a{
      display: block;
      color: #222;
    }
    .btn-default{
      background-color: #F9F9F9;
      &:hover{
        background-color: white;
      }
    }
  }
}