.section.bg-about
  #jumbo-tron-gradient
  .container#jumbo-tron
    .row
      //Jumbotron content goes here

#content-gradient
.container
  .row
    .col-md-3#profile_pic_col
      .pentagon#profile_pic
        %span.mask
        = img "profile_pic.jpg", class: "img-thumbnail"
    .col-md-9
      test