.card_holder
  %ul.list-unstyled.list-inline
    %li.card_pic
      = img "amazon_logo.png"
    %li
      %h3.card_header Amazon.com
      %h4.description Software Development Intern

.card_holder
  %ul.list-unstyled.list-inline
    %li.card_pic
      = img "umiacs_logo.png"
    %li
      %h3.card_header U.Maryland Institute for Advanced Computer Studies
      %h4.description Undergraduate Researcher

.card_holder
  %ul.list-unstyled.list-inline
    %li.card_pic
      = img "maryland_logo.png"
    %li
      %h3.card_header College of Agriculture and Natural Resources
      %h4.description Web Development Intern